header#header
     .wrapper
        .header
          .logo BarterX
          .content
            a(href="/articles/new") I Have 
            a(href="/articles") I want 
            
          .logout 
            a(href="logout") logout
  