body {

}

.container {
  width: auto;
  max-width: 680px;
}

a["href"="articles/new"]{
    background: #eee;
    padding: 5px;
}
/*.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}*/
.suggestions img {
    border: 1px solid gey
}
.myArticle {

}
.login a{
    text-decoration: none;
    color:white;
    font-size: 17px;
}

.error {
  color: #FF2602;
}

.form-actions {
  background: #fff;
  border: 0;
}

.header{
    height: 30px;
    padding: 30px;
    background: #aaa;
    opacity: .8;    
}
.logo{
    float: left;


}
.item{
    position: absolute;
    top:20px;
    left: 0;
}
.login{
    float: right;
}

.article{
    float: left;
    height: 150px;
    width: 30%;
    padding: 10px 1.5%;
    background: #3a3a3a;
    background-size:200px; 
    color: white;
    border: 1px solid #2c2c2c;
    overflow: hidden;
}


.article-header h3{
    font-size: 26px !important;
    line-height: 1em;
    text-align: right;
    font-size: 19px;
    text-transform: uppercase;
}
.article-img{
    width:30%;
   float: left;
}
.article-text{
    width:60%;
    float: right;
}
.article-body p{
    line-height: 1.2em;
    color: gray;
}
.article a{
    color : white;
}
.content {
    float: left;
    padding-left: 50px;
}
.login{
    float: right;
}
.dashboard{
    float: right;
}
.logout{
    float: right;
}
.unit{
    width:100%;
    border: 1px solid black
}
.myArticle{
    padding: 20px 0 0 50px;
    float: left;
    width:30%;
}
.suggestions{
    padding-top:50px; 
    position: relative;
    float: left;
    width: 50%;
    /*border: 1px solid black;*/
}
.clr{
    clear: both;
}
.wish{
    text-align: center;
}
.unit{
    overflow: hidden;
}
