!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .wrapper
        .header
          .logo
            img(src="img/logo.png" width="40px")
          .login
            - if (req.isAuthenticated())
                span(style="display:inline-block; padding:10px 30px;")
                  a(href="/dashboard") dashboard  
                span
                  a(href="/logout") logout 
               
          
            -else    
                a(href="/auth/facebook") login with facebook 
            

        - if (articles.length)
          - each article in articles
            .article          
                .article-text
                  .article-header
                    h3
                      a(href='/articles/'+article._id, title=article.title) #{article.title}
                  .article-body
                    p= article.body  
                
                .article-img
                  img(src="/img/"+article.image.location width="100px")

                

              //- .meta.muted
              //-   span= formatDate(article.createdAt)
              //-   &nbsp; - &nbsp;
              //-   - if (article.user)
              //-     span Author &nbsp;

              //-     - var name = article.user.name ? article.user.name : article.user.username

              //-     a(href="/users/"+article.user._id)= name
              //-   &nbsp; - &nbsp;
              //-   - if (article.tags)
              //-     - each tag in article.tags.split(',')
              //-       &nbsp;
              //-       a.tag(href="/tags/"+tag)
              //-         i.icon-tags
              //-         |  #{tag}

          - if (pages > 1)
            .pagination
              ul
                != createPagination(pages, page)
        - else
          p.muted No articles.&nbsp;
            a(href="/articles/new") create one
