!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include includes/head
  body
    .wrapper
        .header
          .logo
            img(src="img/logo.png" width="40px")
          .login
            - if (req.isAuthenticated())
                a(href="articles/new") I Have 
                a(href="articles") I want 
                span(style="display:inline-block; padding:10px 30px;")
                  a(href="/dashboard") dashboard  
                span
                  a(href="/logout") logout 
               
          
            -else    
                a(href="articles/new") I Have 
                a(href="articles") I want 
                a(href="/auth/facebook") login with facebook 

            
   - if (articles.length)
      - each article in articles
        .unit
            .myArticle     
              img(src="img/"+article.image.location height="250" width="180px")
            .suggestions
                form(action="articles/"+article._id+"/wishFor", method="POST")
                    input(type="hidden" name="wishFor")
                    - if (recommendedArticles.length)
                        - each recommendedArticle in recommendedArticles
                            - if (article.wishFor.indexOf(recommendedArticle._id) > -1)
                                //- input(data-selected="true", type="radio", value=recommendedArticle._id, name= article.title+"suggestion")
                                   .item
                                .item
                                  img(src="img/wish-tag.png" width="40px" style="position:absolute; ")
                                  img.wishedFor(src="img/"+recommendedArticle.image.location height="250" data-rel=recommendedArticle._id);
                                
                            - else
                                //- input(type="radio", value=recommendedArticle._id, name= article.title+"suggestion")
                                .item
                                  img(src="img/"+recommendedArticle.image.location width="auto" height="250" data-rel=recommendedArticle._id);
                    .wish(style="position:absolute;z-index:1000;top:236px;left:-86px")
                        input.btn.btn-primary(type="submit" value="wish")              
            .clr

            

    script
        $(".suggestions").find(".item").click(function(){
          $(this).siblings(".item").css("z-index",0) 
          $(this).siblings(".item").css("opacity",0.5)
          $(this).css("opacity", 1) 
          $(this).css("z-index", 1)
          $("[type=hidden]").val($(this).find("img").attr("data-rel"));
           $(this).closest("form").attr("action", function(i,n){
              var a = n.split("/");
              a[2] = "wishFor";
              return a.join("/")
              })
            $(this).siblings(".wish").find("input").val("wish")
          if($(this).find("img").length == 2){
            $(this).closest("form").attr("action", function(i,n){
              var a = n.split("/");
              a[2] = "accepted";
              return a.join("/")
              })
            $(this).siblings(".wish").find("input").val("accepted")

          }
          console.log($(this))
                    } )

        $(".suggestions").each(function(i,n){
            console.log($(this).find(".item").css("left", function(i,n){
              return i*80+"px";
              }))
          })
        $("[type=radio]").change(function(){ 
           $("[type=hidden]").val($(this).val());
           if($(this).attr("data-selected")) {
            $(this).closest("form").attr("action", function(i,n){
              var a = n.split("/");
              a[2] = "accepted";
              return a.join("/")
              })
            $(this).siblings(".wish").find("input").val("accepted")
           }            
        })                                  