!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include includes/head
  body
    .wrapper
        .header
          .logo BarterX
          .content
            a(href="articles/new") I Have 
            a(href="articles") I want 
            
          .logout 
            a(href="logout") logout
   - if (articles.length)
      - each article in articles
        .unit
            .myArticle     
                p= article.title
            .suggestions
                form(action="articles/"+article._id+"/wishFor", method="POST")
                    input(type="hidden" name="wishFor")
                    - if (recommendedArticles.length)
                        - each recommendedArticle in recommendedArticles
                            input(type="radio", value=recommendedArticle._id, name= article.title+"suggestion")
                            p= recommendedArticle.title
                    .wish
                        input(type="submit") wish      
            .clr
            

    script
        $("[type=radio]").change(function(){ 
           $("[type=hidden]").val($(this).val());
        })                                  